.checklist {
  display: inline-grid;
  grid-template-columns: auto 1fr 17px;
  grid-template-rows: auto 1fr 17px;
  max-width: 100%;
  max-height: calc(100vh - 128px);

  .blank1 {
    grid-row: 1/2;
    grid-column: 1/2;
  }

  .date-list-wrapper {
    grid-row: 1/2;
    grid-column: 2/3;
    overflow: hidden;
  }

  .blank2 {
    grid-row: 3/-1;
    grid-column: 1/2;
  }

  .employee-list-wrapper {
    grid-row: 2/3;
    grid-column: 1/2;
    overflow: hidden;

    .employee-item {
      line-height: 30px;
      padding: {
        left: 5px;
        right: 5px;
      }

      &.bu {
        min-width: 170px;
      }

      &.ka {
        min-width: 80px;
      }

      &.no {
        min-width: 80px;
      }

      &.rank {
        min-width: 110px;
      }

      &.name {
        min-width: 135px;
      }
    }
  }

  .blank3 {
    grid-row: 3/-1;
    grid-column: 1/2;
  }

  .check-list-wrapper {
    grid-row: 2/-1;
    grid-column: 2/-1;
    overflow: scroll;
  }
}
