* {
  box-sizing: border-box;
}

html,
body {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
}

body {
  border: 1px solid transparent;
}

#root {
  max-width: 100%;
  max-height: 100%;
  display: inline-grid;
  grid-template-columns: auto 1fr 17px;
  grid-template-rows: auto 1fr 17px;
}

.blank1 {
  grid-row: 1/2;
  grid-column: 1/2;
}

.date-list-wrapper {
  grid-row: 1/2;
  grid-column: 2/3;
  overflow: hidden;
}

.blank2 {
  grid-row: 3/-1;
  grid-column: 1/2;
}

.employee-list-wrapper {
  grid-row: 2/3;
  grid-column: 1/2;
  overflow: hidden;
}

.blank3 {
  grid-row: 3/-1;
  grid-column: 1/2;
}

.check-list-wrapper {
  grid-row: 2/-1;
  grid-column: 2/-1;
  overflow: scroll;
}
