.flex-row {
  display: flex;
  flex-direction: row;
  min-height: 30px;
  text-align: left;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.grid-item {
  min-width: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.employee-item {
  line-height: 30px;
  padding: {
    left: 5px;
    right: 5px;
  }

  &.bu {
    min-width: 170px;
  }

  &.ka {
    min-width: 80px;
  }

  &.no {
    min-width: 80px;
  }

  &.rank {
    min-width: 110px;
  }

  &.name {
    min-width: 135px;
  }
}
